<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YORO - Home</title>
</head>
<body>
    <h1>Welcome to YORO Bookstore - where you only get to read once in this lifetime</h1>
    <ul>
        <li> <a href="/">Home</a> </li>
        <li> <a href="/browse">Browse books</a> </li>
        <li> <a href="/add">Add book</a> </li>
    </ul>
</body>
</html>